@media only screen and (max-width: 768px) {
  /* For mobile phones: */



} /*END OF MOBILE PHONE SCREEN MEDIA QUERY*/

@media only screen and (min-width: 768px) {
  /* For desktop: */

.read {
  color: #F05A28 !important;
  background-color: #F2F4F4 !important;
}

body {
  margin: 0;
}

section {
  display: inline-block;
  width: 50%;
  height: 100vh;
  font-family: Open Sans;
}

.errorDisplay {
  font-family: Open Sans;
  color: #af0808;
  background-color: #e54242;
}

.column1 {
  text-align: center;
  background-color: #455A64;
  vertical-align: middle;
}

.column2 {
  float: right;
  background-color: #CFD8DC;
}

article {
  display: block;
  background-color: #FFFFFF;
  border: .1em solid #607D8B;
  margin: 1em;
  /*text-align: center;*/
}

h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.9em;
}

h2 {
  color: #455A64;
  font-weight: 800;
}

hr {
  width: 38em;
  height: .1em;
  border: none;
  background-color: #CFD8DC;
}

header {
  margin-top: 10em;
}


span {
  display: inline-block;
  width: 1.6em;
  height: auto;
}

input {
  width: 17em;
  height: 1.3em;
  font-size: 1.3em;
}

a, h2, .read {
  margin-left: 20px;
}

a {
  font-family: Open Sans;
  font-weight: 400;
  color: #607D8B;
  text-decoration-color: #F2F2F4;
}

.read-btn, .delete {
  border: none;
  background-color: #FFFFFF;
  color: #455A64;
  margin-bottom: .5em;
  text-decoration: underline;
  text-decoration-color: #F2F2F4;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

.delete {
  float: right;
  margin-right: 10px;
}

 a:hover{
  font-weight: 800;
  text-decoration-color: #FFC107;
}

 a:visited{
  color: #F05A28;
 }

.bkm-title {
  margin: 1.1em 0em 1.1em 0em;
}

.bkm-url {
  margin-bottom: 1.1em;
}

.create-bkm {
  width: 28.1em;
  height: 2em;
  background-color: #FFC107;
  color: #FFFFFF;
  border: none;
  font-size: .8em;
}
}